<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.spring_boot_mode.dao.mode.AnimationDao">
    <resultMap id="AnimationMap" type="com.example.spring_boot_mode.entity.mode.Animation">
        <!--    property:实体类中       column:数据库中字段          -->
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="notes" column="notes"/>
        <result property="alias" column="alias"/>
        <result property="hasend" column="hasend"/>
        <result property="pictureURL" column="pictureURL"/>

    </resultMap>
    <sql id="selectAnimation">
        select id,
               name,
               address,
               notes,
               alias,
               hasend,
               pictureURL
        from  animation
    </sql>
    <insert id="toadd" parameterType="com.example.spring_boot_mode.entity.mode.Animation" >
        insert into animation
        (
            id,
            name,
            address,
            notes,
            alias,
            hasend,
            pictureURL
        )
        values(
               #{id},
               #{name},
               #{address},
               #{notes},
               #{alias},
               #{hasend},
               #{pictureURL}
              )

    </insert>
    <select id="getList" resultMap="AnimationMap" parameterType="com.example.spring_boot_mode.entity.mode.Animation">
        <include refid="selectAnimation"/>

    </select>

</mapper>