<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.spring_boot_mode.model.dao.ComicPicturesDao">
    <resultMap id="ComicPicturesMap" type="com.example.spring_boot_mode.model.entity.ComicPictures">
        <!--    property:实体类中       column:数据库中字段          -->
        <result property="id" column="id"/>
        <result property="sscomicid" column="sscomicid"/>
        <result property="pictureUrl" column="pictureUrl"/>
        <result property="pictureName" column="pictureName"/>
        <result property="pictureLogic" column="pictureLogic"/>
        <result property="picturePath" column="picturePath"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <sql id="selectComicPictures">
        select id,
               sscomicid,
               pictureUrl,
               pictureName,
               pictureLogic,
               picturePath,
               createTime

        from  comic_pictures
    </sql>
    <insert id="insertpictures" >
        insert into comic_pictures (id,
                                       sscomicid,
                                       pictureUrl,
                                       pictureName,
                                       pictureLogic,
                                       picturePath,
                                       createTime)
                                       values
                                       <foreach collection="pictures" separator="," item="picture">
                                           (
                                           #{picture.id},
                                           #{picture.sscomicid},
                                           #{picture.pictureUrl},
                                           #{picture.pictureName},
                                           #{picture.pictureLogic},
                                           #{picture.picturePath},
                                           #{picture.createTime}
                                           )
                                       </foreach>
    </insert>
    <select id="selectByanimationIds" resultMap="ComicPicturesMap">
        select id,
        sscomicid,
         pictureUrl,
        pictureName,
        pictureLogic,
        picturePath,
        createTime

        from  comic_pictures
        where
        sscomicid in
            <foreach collection="animationIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </select>
    <select id="selectPathByanimationIds" resultType="String">
        select
        concat(picturePath ,'\\', pictureLogic) as picturePath
        from  comic_pictures
        where
        sscomicid in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="selectIdByanimationId"  resultMap="ComicPicturesMap">
        <include refid="selectComicPictures"/>
        where
        sscomicid = #{id}
    </select>
    <delete id="deleteByids" >
        delete from comic_pictures
        where id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByanmationids" >
        delete from comic_pictures
        where sscomicid in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>